#navbar {

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 3vw;
    padding-right: 3vw;
}

#main {

    display: flex;

    gap: 6vw;
    padding-left: 5vw;
    height: 90%;
    position: fixed;
    background: white;
    width: 40em;
    height: 24em;
    justify-self: center;
    border-radius: 2%;
    align-self: anchor-center;
    box-shadow: 0.3em 0.3em 1em 0;



}


.slide-down-animation  {
opacity: 0;
/*transform: translateY(-100vh);*/
animation: slideDown 2s forwards ;
animation-delay: 1s;

}
@keyframes slideDown {

from { opacity: 0;
/*transform: translateY(-100vh);*/


}
to {

    opacity: 1;
/*transform: translateY(-0);*/

}


}

.nav-link {



    color: #777;



}

.nav-link a {
    text-decoration: none;
    color: #3fa;
    text-shadow: 0.05em 0.05em 0.01em #777;
    font-weight: bold;
    transition: color 0.5s;
}

.nav-link a:hover {
    text-decoration: underline;
    color: #0b7777;

}

#left-col {

}

#right-col {
font-family: math;
color: #222;
padding:2em;
    width: 49.5%;
}

#hero {
    width: 20em;
}

body {
    background-image: repeating-conic-gradient(#3fa 50%, #2d9 100%, #1c8 150%);

    overflow: hidden
}

#otherweb {
    background-color: #3fa;
}

.secretlink {
    width: 156px;
    position: fixed;
    top: 0.5em;
    right: 24em;
    text-decoration: none;
    color: #3fa;
    text-shadow: 0.05em 0.05em 0.01em #777;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;

}

#nanoman {
    background-color: #0b7777;
    color: aqua;
    text-size-adjust: var(0.5em);
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.4s;

}

#nanomanresetbutton {
    transition: all 0.7s;
    background-color: 3E9999;

}

.game-container {

   background: #fff;
   justify-self: center;
   box-shadow: 0.3em 0.3em 1em 0 ;
border-radius: 0.5em;
padding: 1em;
text-align: center;
}

.game-canvas {

}


.greetings {
    
color: #000;
-webkit-text-stroke: 0.05em #555;
font-size: 1.5em;
}

.avichai {
font-size: 2.5em;
font-weight: bold;

}