#navbar {
    background: rebeccapurple;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 3vw;
    padding-right: 3vw;
}

#main {
    background-color: rgba(255, 0, 0, 0.807);
    display: flex;
  
    gap: 6vw;
    padding-left: 5vw;
    height: 90%;




}

.nav-link {
    background-color: mediumspringgreen;


}

#left-col{
background: mintcream;
width: 49%;

}
#right-col{
background: blue;
width: 49.5%;
}
#hero{
    width: 40vw;
    max-height:35vh ;
}