#navbar {
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 3vw;
    padding-right: 3vw;
}

#main {

    display: flex;
  
    gap: 6vw;
    padding-left: 5vw;
    height: 90%;




}

.nav-link {



}

#left-col{

width: 49%;

}
#right-col{

width: 49.5%;
}
#hero{
    width: 40%;
}

#all{
    background-image:repeating-conic-gradient(  #3fa 5%,gold 10%,black 15%) ;
    border-radius: 50%;
}

#otherweb{
    background-color: #3fa;
}